
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
</head>
<body>
  
  <a href="/">
  </a>
  <div class="header">
      <img class = 'icon' src="images/ruby.ico" alt="logo">
    <a href="/" class="logo">
      Passion
    </a>
    <div class="header-right">
      <a class="active" href="#home">Market</a>
      <a href="/login">Login</a>
    </div>
  </div>
  
</body>


</html>