<div class="header">
    <a class="logo" href="/">
      <img id="logo"src="/images/LogoMakr_5ShGaj.png" alt="">
    </a>
    
    <div class="nav">
      <a href="/login">Login</a>
      <a href="/marketplace">Marketplace</a>
      <a href="/users/1">My Profile</a>
    </div>
  </div>