<link rel="stylesheet" href="styleHeader.css">
<link rel="stylesheet" href="styleIndex.css">


<body >
  <%include header%>
  <div class="body-two">
    
    <div class="title">
      <h1>Passion</h1>
      <h1>Portfolio</h1>
      <h2>your portfolio is our passion</h2>
    </div>

  </div>
  
</body>


