<link rel="stylesheet" href="/styleHeader.css">
<link rel="stylesheet" href="/styleItemProfile.css">


<body>
  <%include userHeader%>
  <div class="item-container">
    <div class="item-box">
      <img class = "image" src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcTzvPqRKaGSwdaXAxHNgyZ2dKVPN81f6Yak4tUHWP57qHFRCoPwacV4i26T1ijMXipEs5rk7-EXYVj5oTCIkLebYzXXzdJq&usqp=CAE" alt="">
      <div class="text-box">
        <div class="text-box-header">
          <h1>Air Jordans</h1>
          <h2>By Nike</h2>
        </div>
        <div class="text-box-left">
          <p>year: 1998</p>
          <p>condition: super</p>
          <p>public</p>

        </div>
        <div class="text-box-right">
          <p>size: 10</p>
          <p>color: green</p>
          <p>on-sale</p>

        </div>
        <div class="description">
          <p>High-top sneaker with grip-tape ankle strap and dollar bill print Leather upper Round toe Adjustable grip-tape strap Leather lining Rubber sole Padded insole Made in Italy. Maison Margiela</p>
        </div>
       

      </div>




    </div>

  </div>



  
</body>

