<link rel="stylesheet" href="styleForm.css">
<link rel="stylesheet" href="styleHeader.css">

<body id="background">
        <%include header%>

<div class="container">
<br/>
<div class="login-form">
    
<div class="main-div">
    <div class="panel">
   <h2>Login</h2>
   <p>Enter your email and password</p>

   </div>
    <form id="Login" action="/logging">

        <div class="form-group">
            <input type="email"  name="email" class="form-control" placeholder=" Email Address">
        </div>

        <div class="form-group">
            <input type="password"  name="password" class="form-control" placeholder=" Password">
        </div>
        <br>
        
        <div class="forgot">
        <a href="/login">forgot password?</a>
        </div>
        <br>
        <br>
    </form>
    
    <a href="/users/2">
        <button type="" class="btn btn-primary">Log in</button>
    </a>
    <a href="/register">
        <button type="submit" class="btn btn-secondary">Sign Up</button>
    </a>
    </div>
</div></div></div>

</body>
