<link rel="stylesheet" href="/styleForm.css">
<link rel="stylesheet" href="/styleHeader.css">
<link rel="stylesheet" href="/styleSwitch.css">

<body id="shoes-background">
        <%include userHeader%>
<div class="container">
<br/>   

<div class="login-form">

    <div class="main-div">
    <div class="panel">
   <h2>Tell us about your new kicks</h2>
   <br><br>
   </div>
    
   <form action = "/users/new/submit" method="post"  >
        <input type="hidden" name="user_id" value="<%=user[0].id%>">

         <div class="form-group">
             <label for="brand"><p>What brand are your kicks?</p></label>
            <input type="text" class="form-control" name= 'brand' placeholder="brand">
        </div>

        <div class="form-group">
            <label for="title"><p>What is the model?</p></label>
            <input type="text" class="form-control" name='title' placeholder="model">
        </div>

        <div class="form-group">
            <label for="year"><p>What year were they released?</p></label>
            <input type="integer" class="form-control" name="year" placeholder="YYYY">
        </div>

        <div class="form-group">
            <label for="size"><p>What size are they?</p></label>
            <input type="integer" class="form-control" name="size" placeholder="size">
        </div>

        <div class="form-group">
            <label for="color"><p>What color are they?</p></label>
            <input type="text" class="form-control" name="color" placeholder="color">
        </div>

        <div class="form-group">
            <label for="cost"><p>How much did you pay for them?</p></label>
            <input type="float" class="form-control" name="cost" placeholder="aquisition cost">
        </div>
        
        <div class="form-group">
            <label for="description"><p>Say a few words about your kicks</p></label>
            <input type="text" class="form-control" name="description" placeholder="description">
        </div>

        <div class="form-group">
            <label for="image"><p>Give us a url to an image</p></label>
            <input type="text" class="form-control" name="image" placeholder="image of sneakers">
        </div>
        
        <div class="form-group">
            <label for="condition"><p>What kind of shape are your kicks in?</p></label>
            <select name="condition" class="form-control">
                    <option value="5">5: brand new</option>
                    <option value="4">4: great condition</option>
                    <option value="3">3: good condition</option>
                    <option value="2">2: lightly worn</option>
                    <option value="1">1: worn</option>
            </select>
        </div>

        <p>Do you want to make this item public to other users?</p>
        <div class="switch switch-blue">
            <input type="radio" class="switch-input" name="public" value="true" id="week2" checked>
            <label for="week2" class="switch-label switch-label-off">PUBLIC</label>
            <input type="radio" class="switch-input" name="public" value="false" id="month2">
            <label for="month2" class="switch-label switch-label-on">PRIVATE</label>
            <span class="switch-selection"></span>
        </div>
 
        <button type="submit" class="btn btn-secondary">Save to portfolio</button>
        
      </form>
      
    
    </div>
</div></div></div>


</body>

