<h1>please register</h1>
<form action="./users" method='post'>
  <input type="text" name = 'username' placeholder = 'username'>
  <input type="text" name = 'email' placeholder = 'email'>
  <input type="text" name = 'password' placeholder="password">
  <input type="text" name = 'avatar' placeholder = 'avatar'>
  <button type="submit">register</button>
</form>