<%include header%>
<link rel="stylesheet" href="styleForm.css">
<link rel="stylesheet" href="style.css">

</head>
<body id="LoginForm">
<div class="container">
<br/>
<div class="login-form">
<div class="main-div">
    <div class="panel">
   <h2>Start your passion portfolio</h2>
   <br><br>
   </div>
    
   <form action = "./users" method="post" id="Login" >
   
         <div class="form-group">
            <input type="email" class="form-control" name= 'email'placeholder=" Email Address">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name='username'placeholder=" Username">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="password" placeholder=" Password">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="avatar" placeholder=" Avatar link">
        </div>
 
        <button type="submit" class="btn btn-primary">Sign Up</button>
        
      </form>
      
      <a href="/login">
          <button class="btn btn-secondary">back to login</button>
      </a>
    </div>
</div></div></div>


</body>
</html>




<!-- <h1>please register</h1>
<form action="./users" method='post'>
  <input type="text" name = 'username' placeholder = 'username'>
  <input type="text" name = 'email' placeholder = 'email'>
  <input type="text" name = 'password' placeholder="password">
  <input type="text" name = 'avatar' placeholder = 'avatar'>
  <button type="submit">register</button>
</form> -->