<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="/styleUser.css">


<%include userHeader%>

<body>
  <div class="main-graph">
    
  </div>
  <aside class="sidebar">

    <div class="avatar-container">
      <div class="avatar-inner">
        <img class="pic" src="/images/Carrie.jpg" alt="profile pic">
      </div>
    </div>
<br>
    <li class="side-menu">
      <ul>Add to portfolio</ul>
      <ul>Favorites</ul>
      <ul>Other options</ul>

    </li>

  </aside>




</body>