<body>
  
    <a href="/"> </a>
      <div class="header">
        <img class = 'icon' src="./images/ruby.ico" alt="logo">
        <a href="/" class="logo">
          Passion
        </a>
        <div class="header-right">
          <a href="/marketplace">Marketplace</a>
          <a href="/login">Login</a>
        </div>
      </div>
      
   
  </body>