/* style for user page*/


/* Side Bar */
.sidebar{
  /*as a container*/
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 180px 20px 90px 90px 90px 90px 100%;  
/* as an object */
  grid-area: 2 /1 /-1;
  background: palevioletred;
  /* padding: 10px; */
  /* height: 100%;
  width: 150px; */
}
.avatar-container{
  background: yellow;
  grid-area: 1/1;
  margin: 10px;
  border-radius: 50%;
}
.user-menu{
  background: lightseagreen;
  grid-area: 3 / 1
}
.user-menu a{
  display: block;
  text-decoration: none;
  color: black;
  list-style-type:none;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 5px;
  background: darkgrey;
}
.user-menu a:hover{
  background: lightgrey;
  /* color: black; */
}
.pic {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.container{
  height: 500px;
  background: paleturquoise;
  grid-area: 2 / 2;
  display: grid;
  grid-template-rows: 80px 80%;
  grid-template-columns: 70px 80% 10px ;

}
.graph-container, .items-container{
  grid-area: 2/2/4/3;
  background: lightgrey;  
}
.graph{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.container-two{
  /* height: 500px; */
  background: pink;
  grid-area: 3 / 2;
  display: grid;
  grid-template-rows: 80px 80%;
  grid-template-columns: 70px 80% 10px ;
}

.container h1, .container-two h1 {
  text-align: center;
  grid-area: 1/2/2/3;
  padding-top: 10px;
}