/* style for forms */
#background{ 
  background-image:url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg"); 
  /* background-repeat: ;  */
  background-position:center; 
  background-size:cover; 
  padding:0;
}
#shoes-background{ 
  background-image:url("./images/shoes2-background.jpeg"); 
  background-repeat:repeat ; 
  background-position:center; 
  background-size:auto; 
  padding:0;
}

.form-heading { color:#fff; font-size:23px;}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px; font-weight: bold;}
p { margin-bottom: 2px;}
.container{
  grid-area: 2/2;
}
.login-form .form-control {
  grid-area: 2/2;
  font-family: 'Courier New', Courier, monospace;
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  font-size: 14px;
  height: 40px;
  width: 60%;
  line-height: 50px;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  opacity: .96;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 70px;
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}
.forgot a {
  display: inline;
  color:mistyrose;
  font-size: 16px;
  text-decoration: none;
  margin: 30px;
  /* font-weight: bold; */
}
.login-form  .btn.btn-primary , .login-form .btn.btn-secondary {
  font-family: 'Courier New', Courier, monospace;
  background: mistyrose;
  border-color: mistyrose;
  color: #white;
  font-size: 14px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0px;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}
.login-form .btn.btn-primary {
  background-color: white;
  color: ##707070;
}
.login-form  .btn.btn-secondary:hover {
  background-color: #ffd1cc;
  
}
.login-form .btn.btn-primary:hover{
  background-color: #f7f7f7;
}
.forgot {
  display: inline;
  text-align: left; 
}

.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}