/* For Sale Icon */
.forSale, .putOnSale {
  float: right;
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  display: inline-block;
  background: orange;
  color: white;
  height: 2.5rem;
  width: 2.5rem;
  text-align: center;
  vertical-align: middle;
  line-height: 1.2rem;
  margin:0;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  -webkit-animation: beat 1s ease infinite alternate;
          animation: beat 1s ease infinite alternate;
}
.putOnSale{
  background: transparent;
  border: solid;
  line-height: 2.5rem;
  cursor: pointer;
}

.forSale:before, .forSale:after {
  content: "";
  position: absolute;
  background: inherit;
  height: inherit;
  width: inherit;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}
.forSale:after {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

@-webkit-keyframes beat {
  from {
    -webkit-transform: rotate(-20deg) scale(1);
            transform: rotate(-20deg) scale(1);
  }
  to {
    -webkit-transform: rotate(-20deg) scale(1.1);
            transform: rotate(-20deg) scale(1.1);
  }
}

@keyframes beat {
  from {
    -webkit-transform: rotate(-20deg) scale(1);
            transform: rotate(-20deg) scale(1);
  }
  to {
    -webkit-transform: rotate(-20deg) scale(1.1);
            transform: rotate(-20deg) scale(1.1);
  }
}
